/* @import url('../public/fonts/fonts.css'); */

body {
  margin: 0;
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  margin: 0;
  padding: 0;
}
html {
  --black-bg: #232323;
  --white-bg: #fcfcfa;
  --black: #000000;
  --white: #ffffff;

  --cream: #f8f1e8;
  --yellow: #edc47f;
  --pink: #f0c0c1;
  --green: #74bdb1;
  --orange: #dd6849;
  --gray: #aeaeac;
}
